{
  "development": {
    "mixpanel"    : "REPLACEME",
    "ga_account"  : "",
    "ga_id"       : "",
    "api"         : ""http://localhost:5993/api",
    "domain"      : "http://localhost",
    "maintenance" : false
  },
  
  "staging": {
    "mixpanel"    : "REPLACEME",
    "ga_account"  : "",
    "ga_id"       : "",
    "api"         : ""https://data-stg.payshares.org/api",
    "domain"      : "https://stg.payshares.org",
    "bucket"      : "staging-bucket",
    "cloudflare_domain": "REPLACEME"
  },
  
  "production": {
    "mixpanel"    : "REPLACEME",
    "ga_account"  : "",
    "ga_id"       : "",
    "api"         : ""https://data.payshares.org/api",
    "domain"      : "https://payshares.org",
    "bucket"      : "production-bucket",
    "cloudflare_domain": "REPLACEME"
  }
}
